.navbar {
  background-color: rgb(60 60 60 / 60%);
  border-radius: 10px;
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
}


.navbar-link {
  border: 1px solid rgb(140 140 140);
  border-radius: var(--border-radius-amount);
  padding: 0.7rem 1rem;
  position: relative;
  overflow: hidden;
  background-color: rgb(20 20 20);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3 ease-in-out;
}

.navbar-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    165deg,
    rgb(20 20 20),
    rgb(169 53 246 / 5%),
    rgb(251 128 255 / 10%),
    rgb(129 171 243 / 15%),
    rgb(155 234 127 / 20%)
  );
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navbar-link:hover::before {
  opacity: 1;
}

.navbar-link:hover {
  box-shadow: 0px 2px 4px rgb(155 234 127 / 60%);
  color: rgb(250 250 250);
}