div.dropdown {
  text-align: left;
  width: fit-content;
  padding: 1rem 0;
  margin: 1rem;
}

.dropdown button {
  border: none;
  background-color: rgb(20 20 20);
  color: rgb(240 240 240);
  border-radius: 10px;
  padding: 1rem 1.2rem;
  margin: 1rem;
}

.dropdown button:hover {
  background: linear-gradient(rgb(20 20 20), rgb(40 40 40))
}

.dropdown button:before, .dropdown button:after {
  border-radius: 10px;
}

.dropdown div {
  padding: 1rem;
}

nav#dropdown-nav {
  position: absolute;
  z-index: 2;
}

.dropdown ul {
  padding: 0;

}

li.dropdown-link {
  list-style: none;
  padding: 1rem;
  border-radius: 10px;
  padding: 1rem 1.2rem;
  opacity: 0.7;

}

li.dropdown-link a {
  text-decoration: none;
  color: rgb(240 240 240);
}
li:before, li:after {
  border-radius: 10px;
}

li.dropdown-link:hover {
  opacity: 1;
  /* background: linear-gradient(rgb(20 20 20), rgb(40 40 40)) */
}

/* lineup class and keyframes */
.lineup {
  animation: 2s anim-lineUp ease-out infinite;
  color: red;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

